<%if(locals.selectedBlog){%>
    <form method="POST" action="/update/<%=selectedBlog.id%>">
        <label for="title">Title:</label>
        <input type="text" name="title" value="<%= selectedBlog.title %>">
        <br>
        <label for="content">Content:</label>
        <textarea name="content"><%= selectedBlog.content %></textarea>
        <br>
        <button class="btn-large" type="submit">Update</button>
    </form>
<%}else{%>
    <h2>Select Blog to update</h2>
    <ul>
        <% blogList.forEach(blog => { %>
            <li>
            <%= blog.title %>
            <a href="/update/<%= blog.id %>">Edit</a>
            </li>
        <% }) %>
    </ul>
<%}%>

