<%- include("partials/header.ejs")%>
<div class="view">
    <div class="content">
        <%if(locals.type){%>
            <%if(type==='create'){%>
                <%- include("partials/create.ejs")%>
            <%}else if(type==='delete'){%>
                <%- include("partials/delete.ejs")%>
            <%}else{%>
                <%- include("partials/update.ejs")%>
            <%}%>
        <%}else{%>
            <%if(locals.selectedItem){%>
                <section>
                    <h2><%= selectedItem.title %></h2>
                    <p><%= selectedItem.content %></p>
                </section>
            <%}else{%>
                <h2>Select a blog from list to see/or create one</h2>
            <%}%>
        <%}%>
    </div>
    <div class="sidebar">
        <h2>List of blogs</h2>
        <%if(locals.blogList){%>
            <ul>
                <% blogList.forEach(blog=>{%>
                    <li><a href="<%=blog.id%>"><%= blog.title%></a></li>
                <%});%>
                </ul>
        <%}%>
    </div>
</div>
<%- include("partials/footer.ejs")%>